@import 'tailwindcss';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import './shiki.css';
@import './theme.css';

@plugin "@tailwindcss/typography";

:root {
  --sidebar-col: 268px;
  --toc-width: 268px;

  --docs-height: 100dvh;
  --docs-header-height: 61px;
}

.docs-grid {
  --sidebar-width: 268px;
  --docs-rows-1: 0px;

  grid-template:
    'header header header header .'
    'sidebar sidebar toc-popover toc-popover .'
    'sidebar sidebar main toc .' 1fr / minmax(min-content, 1fr) var(--sidebar-col) minmax(
      0,
      calc(var(--layout-width, 97rem) - var(--sidebar-col) - var(--toc-width))
    )
    var(--toc-width) minmax(min-content, 1fr);
}

:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before,
:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
  display: none;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #ebebeb;
  @apply border bg-muted rounded-sm;
}

article#page::before {
  content: '';
  z-index: -1;

  border-color: #6663;

  @apply absolute inset-0 m-4 mb-2 rounded-xl bg-card border shadow-xl;
}

.prose-no-margin > :last-child {
  margin-bottom: 0;
}

.prose-no-margin > :first-child {
  margin-top: 0;
}

.step::before {
  content: counter(step);
  counter-increment: step;
  @apply bg-secondary text-secondary-foreground size-8 rounded-full;
  @apply flex justify-center items-center absolute -start-4;
}

@layer base {
  * {
    @apply border-border;
  }
}
